<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find vehicle_description)/urdf/camera_sensor.xacro"/>
  <xacro:include filename="$(find vehicle_description)/urdf/lidar_sensor.xacro"/>
  <xacro:include filename="$(find vehicle_description)/urdf/radar_sensor.xacro"/>

  <!-- 2 Cameras -->
  <xacro:add_camera name="camera_front" parent="base_link" x="1.0" y="0.0" z="0.5"/>
  <xacro:add_camera name="camera_rear"  parent="base_link" x="-1.0" y="0.0" z="0.5"/>

  <!-- 1 LiDAR -->
  <xacro:add_lidar parent="base_link" x="0.0" y="0.0" z="0.6"/>

  <!-- 1 Radar -->
  <xacro:add_radar parent="base_link" x="1.0" y="0.0" z="0.2"/>
</robot>
